@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

html, body {
  top: 0;
  margin: 0;
  width: auto;
  outline: none;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  background-color: #fff !important;
}
footer {
  text-align: center;
  position: relative;
}

/* FRAME STARTS*/
.array {
  padding: 1rem;
  display: flex;
  min-height: 80vh;
  flex-direction: row;
  align-items: flex-start;
}
.cell {
  flex: 0.5;
  margin: 1px;
  display: flex;
  width: 0.000001%;
  position: relative;
  align-items: flex-start;
  background-color: #D6D6D6;
  transition: all .4s ease-in;
}
.cell.done {
  border-color: #9CEC5B;
  background-color: #9CEC5B;
  transition: all .4s ease-out;
}
.cell.current {
  border-color: #6184D8;
  background-color: #6184D8;
  transition: all .4s ease-out;
}
/* FRAME ENDS */

/* NAVBAR */
.navbar {
  background-color: #000;
}
.navbar .options {
  margin: 10px;
}
.navbar a {
  color: #ccd6f6;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar #menu {
  margin-top: 15px;
  width: 150px;
  height: 25px;
}
.navbar > a:hover {
  color: #64ffda;
}
.navbar > .icon {
  display: none;
}
.navbar input {
  height: 20px !important;
}
#start {
  margin-bottom: 10px;
}
button {
  color: #D6D6D6;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  background-color: #222;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  border: 2px solid #D6D6D6 !important;
}

button:hover {
  color: #222 !important;
  background: #D6D6D6;
  border-color: #D6D6D6 !important;
  transition: all 0.4s ease 0s;
  }

@media screen and (max-width: 900px) {
  .navbar .options, button {
      display: none;
  }
  .navbar a.icon {
      float: right;
      display: block;
  }
  .navbar.responsive {
      position: relative;
  }
  .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .navbar.responsive > .options {
      float: none;
      display: block;
      text-align: center;
  }
  .navbar.responsive button {
    display: inline;
  }
}