@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

html, body {
  top: 0;
  margin: 0;
  width: auto;
  min-height: 95vh;
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
}
footer {
  bottom: 20px !important;
  margin-top: auto;
  text-align: center;
  position: relative;
}

/* FOR GRID */
table {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
.gcell {
  background-color: #D2D2D2;
  transition: all .4s ease-in;
}
.gcell.src {
  background-color: #ff0000;
}
.gcell.dest {
  background-color: #00ff00;
}
.gcell.blocked {
  background-color: #000;
  transition: all .4s ease-in;
}
.gcell.current {
  background-color: #50C5B7;
  transition: all .4s ease-in;
}
.gcell.visited {
  background-color: #6184D8;
  transition: all .4s ease-in;
}
.gcell.path {
  background-color: #FF1493;
  transition: all 0.4s ease-out;
}

td {
  border: 1px solid #000;
  cursor: pointer;
}
.link {
  text-decoration: none;
  font-weight: bold;
  color: #FF5252;
}
#menu, #random, #start {
  margin-right: 10px;
  cursor: pointer;
}


/* ARRAY DISPLAY */
.array {
  display: flex;
  align-items: flex-start;
  min-height: 80vh;
  height: 40vh;
  padding: 1rem;
  flex-direction: row;
}
.cell {
  display: flex;
  align-items: flex-start;
  flex: 0.5;
  width: 0.000001%;
  margin: 1px;
  background-color: #D6D6D6;
  resize: horizontal;
  position: relative;
  transition: all .4s ease-in;
}
.cell.done {
  background-color: #9CEC5B;
  border-color: #9CEC5B;
  color: white;
  transition: all .4s ease-out;
}
.cell.visited {
  border-color: #6184D8;
  background-color: #6184D8;
  color: white;
  transition: .5s;
}
.cell.current {
  border-color: #50C5B7;
  background-color: #50C5B7;
  color: white;
  transition: all .4s ease-out;
}
.cell.min {
  background-color: #FF1493;
  border-color: #FF1493;
  color: white;
  transition: all .4s ease-out;
}

/* Search Algorithms */

.s-array {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 1.5%;
  margin-bottom: 2%;
  position: relative;
  justify-content: center;
}
.s-cell {
  margin: 5px;
  padding: 10px;
  background-color: #eee;
  color: #222;
  border: 5px solid #eee;
  border-radius: 5px;
  position: relative;
  transition: all .4s ease-in;
}
.s-cell.done {
  background-color: #9CEC5B;
  border-color: #9CEC5B;
  color: white;
  transition: all .4s ease-out;
}
.s-cell.visited {
  border-color: #6184D8;
  background-color: #6184D8;
  color: white;
  transition: .5s;
}
.s-cell.current {
  border-color: #50C5B7;
  background-color: #50C5B7;
  color: white;
  transition: all .4s ease-out;
}

/* NAVBAR */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  min-height: 60px;
  overflow: hidden;
  text-align: center;
  background-color: #000;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.navbar .options {
  text-align: center;
}
.navbar a {
  outline: none;
  cursor: pointer;
  color: #ccd6f6;
  font-weight: bold;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar #menu {
  margin-top: 15px;
  width: 150px;
  height: 25px;
  outline: none;
}
.navbar > a:hover {
  color: #64ffda;
}
.navbar > .icon {
  display: none;
}
.navbar input {
  height: 20px !important;
}

@media screen and (max-width: 900px) {
  .navbar a, .navbar .options {
      display: none;
  }
  .navbar a.icon {
      float: right;
      display: block;
  }
  .navbar.responsive {
      position: relative;
  }
  .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .navbar.responsive a, .navbar.responsive .options {
      float: none;
      display: block;
      text-align: center;
  }
}